# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local
vaults-demo/dependencies
vaults-demo/cache
vaults-demo/.DS_Store
vaults-demo/out

.DS_Store
